.image {
    background: url(../images/entering.jpeg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 40%;
    right: 5%;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
    height: 500px;
    
}

#answer-image {
    background-size: cover;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 500px;
}

.anna {
    background: url(../images/anna.png);
}

.giraffe {
    background: url(../images/giraffe.png);
}

.toy {
    background: url(../images/toyrobot.png);
}

.sticker {
    background: url(../images/backpack.png);
}

.argentina {
    background: url(../images/sarah_argentina.png);
}

.hidden {
    visibility: hidden !important;
}

.bold {
    border: 4px inset #5f5fe7;
}

.head {
    text-align: center;
}

.subhead {
    text-align: center;
}

.container {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 10vh;   
    justify-content: center;
    align-items: center;
}

#question-container {
    display: block;
}

h1, h2, p, .font, button {
    font-family: 'Pathway Gothic One', sans-serif;
}

.font, button {
    font-size: 2rem;
}

.btn {
    font: 1em;
    margin: 10px;
}

button.correct {
    color: green;
}

button.wrong {
    color: red;
}

#start-btn, #next-btn {
    font-size: 3em;
}

#control-score {
    position: absolute;
    right: 65%;
}

#score {
    display: block;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

#explanation {
    position: absolute;
    bottom: -2rem;
    color: rgba(241, 240, 234, 0.879);
    padding: 26px;

}

#lou {
    color: rgb(244, 216, 59);
    text-transform: uppercase;
    font-size: 1.2em;
}

/* media query */

/* Extra small devices (phones, 600px and down) */ 
@media only screen and (max-width: 600px) {
    .image {
        left: 0;
        top: 90%;
        width: 100%;
        height: 32%;
    }

    #answer-image {
        
        width: 100%;
        height: 100%;
    }

    #question-container {
        display: block;
        position: absolute;
        top: 37%;
    }

    #control-score {
        right: 0;
        top: 64%;

    }

    #explanation {
        font-size: 1.4rem;
    }
    

} 

/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media screen and (max-width: 400px) {
    #control-score {
        right: 0;
        top: 95%;
    }

    #question-container {
        display: block;
        position: absolute;
        top: 51%;
    }

    .image {
        top: 130%;
    }
}

@media only screen and (min-width: 600px) {
    .image {
        top: 77%;
        width: 100%;
        left: 0;
        height: 27%;
    }

    #control-score {
        top: 47%;
    }

    #answer-image {
        width: 100%;
        height: 100%;
    }

    #question-container {
        top: 47%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */ 
@media only screen and (min-width: 768px) {
    .image {
        height: 40%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) {
    .image {
        width: 100%;
        height: 85%;
        left: 8px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */ 
@media only screen and (min-width: 1200px) {
    .image {
        top: 50%;
        width: 68%;
        height: 68%;
        left: 32%;
    }

    #control-score {
        position: absolute;
        right: 70%;
    }
}

