.image {
    background: url(../images/entering.jpeg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 40%;
    right: 5%;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
    height: 500px;
    
}

#answer-image {
    background-size: cover;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 500px;
}

.anna {
    background: url(../images/anna.png);
}

.giraffe {
    background: url(../images/giraffe.png);
}

.toy {
    background: url(../images/toyrobot.png);
}

.sticker {
    background: url(../images/Ellie_Backpack.png);
}

.argentina {
    background: url(../images/sarah_argentina.png);
}

.hidden {
    visibility: hidden !important;
}

.head {
    text-align: center;
}

.subhead {
    text-align: center;
}

.container {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 10vh;   
    justify-content: center;
    align-items: center;
}

#question-container {
    display: block;
}

h1, h2, p, .font, button {
    font-family: 'Pathway Gothic One', sans-serif;
}

.font, button {
    font-size: 2rem;
}

.btn {
    font: 1em;
    margin: 10px;
}

button.correct {
    color: green;
}

button.wrong {
    color: red;
}

#start-btn, #next-btn {
    font-size: 3em;
}

#control-score {
    position: absolute;
    right: 65%;
}

#score {
    display: block;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

#explanation {
    position: absolute;
    bottom: -2rem;
    color: rgba(241, 240, 234, 0.879);
    padding: 26px;

}

#lou {
    color: rgb(244, 216, 59);
    text-transform: uppercase;
    font-size: 1.2em;
}