.image {
    background: url(../images/entering.jpeg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 60%;
    right: 25%;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
    height: 55vh;
    
}

#answer-image {
    background-size: cover;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.anna {
    background: url(../images/anna.png);
}

.giraffe {
    background: url(../images/giraffe.png);
}

.toy {
    background: url(../images/toy-robot.png);
}

.sticker {
    background: url(../images/backpack.png);
}

.argentina {
    background: url(../images/sarah_argentina.png);
}

.hidden {
    visibility: hidden !important;
}

.bold {
    border: 4px inset #87F5FB;
}

.head {
    text-align: center;
}

.subhead {
    text-align: center;
}

.container {
    display: flex;
    padding: 0;
    margin: 13px;
    width: 100vw;
    height: 10vh;   
    justify-content: center;
    align-items: center;
}

#question-container {
    display: block;
    width: 50%;
    height: 50%;
}

h1, h2, p, .font, button {
    font-family: 'Pathway Gothic One', sans-serif;
}

.font, button {
    font-size: 1.5rem;
}

.btn {
    font: 1em;
    margin: 2px;
}

button.correct {
    color: green;
}

button.wrong {
    color: red;
}

#start-btn, #next-btn {
    font-size: 2em;
}

#control-score {
    position: absolute;
    right: 12%;
    top: 35%;
}

#score {
    display: block;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
}

#explain-box {
    display: contents;
    position: absolute;
    right: 40%;
    margin: 30px;
}

#explanation {
    /* position: absolute; */
    bottom: -2rem;
    color: black;
    /* padding: 26px; */
    text-shadow: 1px 1px rgb(231, 230, 230);
}

#lou {
    color: rgb(219, 13, 13);
    text-shadow: 1px 1px rgb(238, 230, 19);
    text-transform: uppercase;
    font-size: 1.3em;
}

/* media query */

@media screen and (max-height: 477px) {
    #small-screen-important {
        top: 93% !important;
    }

    #control-score {
        top: 65% !important;
        right: 1% !important;
    }

    #question-container {
        display: block;
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-height: 660px) {
    .image {
        top: 75% !important;
    }

    #control-score {
        top: 57% !important;
        right: 1% !important;
    }

    #question-container {
        display: block;
        width: 100% !important;
        height: 150% !important;
    }
}

@media screen and (min-width: 200px) and (max-width: 299px) {
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    p {
        font-size: 1em;
    }

    #start-btn, #next-btn {
        font-size: 1em;
    }

    .font, button {
        font-size: 1rem;
    }
    .image {
        height: 30%;
        width: 100%;
        top: 80%;
        left: 16px;
    }

    #answer-image {
        width: 100%;
        height: 100%;
    }

    #control-score {
        top: 45%;
        right: 0;
    }

    #question-container {
        position: relative;
        display: block;
        width: 75%;
        height: 75%;
    }

    .btn {
        margin: 1px;
    }
    
    #question-container {
        top: -20%;
    }
    
    #control-score {
        top: 55%;
        right: -6%;
    }

    #explain-box {
        display: flex;
        position: absolute;
        right: 55%;
        margin: 2px;
    }    
}


@media screen and (max-width: 300px) and (min-width: 599px) {
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    p {
        font-size: 1em;
    }

    #start-btn, #next-btn {
        font-size: 1em;
    }

    .font, button {
        font-size: 1rem;
    }
    .image {
        height: 20%;
        width: 100%;
        top: 68%;
        right: 0;
    }

    #answer-image {
        width: 100%;
        height: 100%;
    }

    #control-score {
        top: 45%;
        right: 0;
    }

    #question-container {
        position: relative;
        display: block;
        width: 100%;
        height: 75%;
    }

    .btn {
        margin: 1px;
    }

    #explain-box {
        display: flex;
        position: absolute;
        right: 40%;
        margin: 2px;
    }
}


@media screen and (max-width: 600px) and (min-width: 300px) {
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    p {
        font-size: 1em;
    }

    #start-btn, #next-btn {
        font-size: 1em;
    }

    .font, button {
        font-size: 1rem;
    }
    .image {
        height: 31%;
        width: 100%;
        top: 60%;
        right: 0;
    }

    #answer-image {
        width: 100%;
        height: 100%;
    }

    #control-score {
        top: 45%;
        right: 0;
    }

    #question-container {
        position: relative;
        display: block;
        width: 100%;
        height: 75%;
    }

    .btn {
        margin: 1px;
    }

    #explain-box {
        display: flex;
        position: absolute;
        right: 40%;
        margin: 1px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 3em;
    }
    
    p {
        font-size: 1.5em;
    }

    #start-btn, #next-btn {
        font-size: 1.5em;
    }

    .font, button {
        font-size: 1.5rem;
    }
    .image {
        height: 49%;
        width: 100%;
        top: 73%;
        right: 0;
    }

    #answer-image {
        width: 100%;
        height: 100%;
    }

    #control-score {
        top: 48%;
        right: 10%;
    }

    #question-container {
        position: relative;
        display: block;
        width: 100%;
        height: 75%;
    }

    .btn {
        margin: 1px;
    }

    #explain-box {
        display: flex;
        position: absolute;
        right: 40%;
        margin: 1px;
    }
} 

@media only screen and (max-width: 992px) and (min-width: 769px) {
    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    p {
        font-size: 1.5em;
    }

    #start-btn, #next-btn {
        font-size: 1.5em;
    }

    .font, button {
        font-size: 1.5rem;
    }
    
    .image {
        height: 38%;
        width: 100%;
        top: 53%;
        right: 0;
    }

    #answer-image {
        width: 100%;
        height: 100%;
    }

    #control-score {
        top: 37%;
        right: 10%;
    }

    #question-container {
        position: relative;
        display: block;
        width: 75%;
        height: 75%;
    }

    .btn {
        margin: 1px;
    }

    #explain-box {
        display: flex;
        position: absolute;
        right: 20%;
        margin: 1px;
    }
}

@media only screen and (max-width: 1189px) and (min-width: 992px) {
       
    .image {
        width: 62%;
        top: 60%;
    }

    #control-score {
        top: 37%;
        right: 7%;
    }

    #question-container {
        position: relative;
        display: block;
        width: 75%;
        height: 75%;
    }

    .btn {
        margin: 1px;
    }

    #explain-box {
        display: contents;
        position: absolute;
        right: 20%;
        margin: 1px;
    }
}